<!doctype html>
<html lang="en-us">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Levi Bracken</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div id="linkContainer">

      <div class="panel">
        <h1>Code</h1>
        <ul id="code-list">
          <li><a href="/ski">/ski_data</a><span class="description"> - ski area data visualizations</span></li>
          <li><a href="/taxmap">/taxmap</a><span class="description"> - geographically visualize gov't spending</span></li>
          <li><a href="/decidr">/decidr</a><span class="description"> - plot and prioritize tasks</span></li>
          <li><a href="https://github.com/lbracken/autogarten">autogarten</a><span class="description"> - automated gardening with Arduino</span></li>
          <li><a href="https://github.com/lbracken/docker-example">docker-example</a><span class="description"> - example multi-tiered app with Docker</span></li>
          <li><a href="https://github.com/lbracken/news_data">news_data</a><span class="description"> - parse and analyze news transcripts</span></li>
          <li><a href="https://code.google.com/p/copper-lib/">copper-lib</a><span class="description"> (old)</span></li>
          <li><a href="https://code.google.com/p/goast/">goast</a><span class="description"> (old)</span></li>          
        </ul>
      </div>

      <div class="panel">
        <h1>Contact</h1>
        <ul>
          <li><a href="mailto:levi.bracken@gmail.com">levi.bracken@gmail.com</a></li>
        </ul>
        <br/>

        <h1>Social</h1>
        <ul>
          <li><a href="https://github.com/lbracken">GitHub</a></li>
          <li><a href="https://www.facebook.com/levi.bracken">Facebook</a></li>
          <li><a href="www.linkedin.com/in/levibracken/">LinkedIn</a></li>
          <li><a href="https://picasaweb.google.com/105998282022303652257">Picasa</a></li>
        </ul>        
      </div>

      <div class="clearPanel"></div>
    </div> 
  </body>
</html>
